/* Estilos generales */
.Contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #3498db;
  }
  
  .form_iniciar {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
  }
  
  /* Estilos para pantallas más pequeñas */
  @media screen and (min-width: 601px) {
    .form_iniciar {
      width: 70%;
    }
  }
  
  /* Estilos para pantallas más grandes */
  @media screen and (min-width: 992px) {
    .form_iniciar {
      width: 50%;
    }
  }
  
  /* Estilos para los inputs */
  .title_label {
    display: block;
    margin-bottom: 5px;
  }
  
  .input_style {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
  }
  
  /* Estilos adicionales según sea necesario */
  .btn_iniciar {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: rgb(22, 251, 22);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    color: #fff;
  }

.mensaje-exito {
    color: green;
  }
  
  .mensaje-error {
    color: red;
  }
  