.image-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contenedor{
    border: 2px solid rgb(31, 181, 218);
    background-color: rgb(101, 238, 204);
    padding: 2vw; /* Ajusta el espaciado interno según el ancho de la pantalla */
    margin: 2vw; /* Ajusta los márgenes externos según el ancho de la pantalla */
    border-radius: 2vw; /* Ajusta los bordes redondeados según el ancho de la pantalla */
  }

  .card1,
  .card2,
  .card3,
  .card4 {
    max-width: 600px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    background-color: rgb(240, 112, 236);
  }
  
  #img {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
  }
  
  @media (max-width: 768px) {
    .card1,
    .card2,
    .card3,
    .card4 {
      max-width: 100%;
    }
  }