.layout {
  width: 1366px;
  height: 768px;

  display: grid;
  grid:
    "Titulo" 1fr
    "Subir" 1fr
    "Manicura" 1fr
    "Depilacion" 1fr
    "Masajes" 1fr
    "Pedicura" 1fr
    "Retiro" 1fr
    / 1fr;
  gap: 8px;
}

.Titulo { 
  grid-area: Titulo; 
  text-align: center;
  border: 3px solid black;
}
.h1-Titulo{
  margin-top: 15px;
}
.Subir { grid-area: Subir; }
.Manicura { grid-area: Manicura; }
.Depilacion { grid-area: Depilacion; }
.Masajes { grid-area: Masajes; }
.Pedicura { grid-area: Pedicura; }
.Retiro { grid-area: Retiro; }